
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

[v-cloak]{
	display: none;
}
.minesGrid{
	margin: auto;
	border-collapse: collapse;
	background: #ddd;
	tr{
		td{
			width: 40px;
			height: 40px;
			text-align: center;
			vertical-align: middle;
			font-weight: bold;
			.fa-bomb{
				font-size: 15px;
				color: #000;
			}
			.fa-flag{
				font-size: 15px;
				color: red;
			}
			.fa-question{
				font-size: 18px;
				color: blue;
			}
		}
	}
}
.closed{
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	background: #eee;
	cursor: pointer;
}

.newParams{
	width: 50px;
	display: inline;
	height: 25px;
	padding: 0px;
	text-align: center;
}